@using CvMvc.Models.EntityFramework
@model List<Skill>

@{
    int i = 0;
}

@if (Model.Count() == 0)
{
    <div class="alert alert-danger alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        Yetenek bulunmamaktadır.
    </div>
}
else
{
    <div class="alert alert-success alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        @Model.Count() Tane yetenek bulunmaktadır.
    </div>

    <table class="table">
        <thead>
            <tr>
                <th style="width: 10px">#</th>
                <th>Yetenek</th>
                <th>Derece</th>
                <th style="width: 40px">Puan</th>
                <th style="width: 90px;">Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                i++;
                <tr>
                    <td>@i</td>
                    <td>@item.Name</td>
                    @if (item.Point <= 25)
                    {
                        <td>
                            <div class="progress progress-xs progress-striped active">
                                <div class="progress-bar bg-dark" style="width: @item.Point%"></div>
                            </div>
                        </td>
                        <td><span class="badge bg-dark">@item.Point%</span></td>
                    }
                    @if (item.Point > 25 && item.Point <= 40)
                    {
                        <td>
                            <div class="progress progress-xs progress-striped active">
                                <div class="progress-bar bg-danger" style="width: @item.Point%"></div>
                            </div>
                        </td>
                        <td><span class="badge bg-danger">@item.Point%</span></td>
                    }
                    @if (item.Point > 40 && item.Point <= 55)
                    {
                        <td>
                            <div class="progress progress-xs progress-striped active">
                                <div class="progress-bar bg-primary" style="width: @item.Point%"></div>
                            </div>
                        </td>
                        <td><span class="badge bg-primary">@item.Point%</span></td>
                    }
                    @if (item.Point > 70 && item.Point <= 85)
                    {
                        <td>
                            <div class="progress progress-xs progress-striped active">
                                <div class="progress-bar bg-warning" style="width: @item.Point%"></div>
                            </div>
                        </td>
                        <td><span class="badge bg-warning">@item.Point%</span></td>
                    }
                    @if (item.Point > 85 && item.Point <= 100)
                    {
                        <td>
                            <div class="progress progress-xs progress-striped active">
                                <div class="progress-bar bg-success" style="width: @item.Point%"></div>
                            </div>
                        </td>
                        <td><span class="badge bg-success">@item.Point%</span></td>
                    }
                    <td>
                    <a href="/Admin/SkillEdit/@item.Id" class="btn btn-primary"><i class="fas fa-eye"></i></a>
                    <a href="/Admin/SkillDelete/@item.Id" class="btn btn-danger"><i class="fas fa-trash"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
